<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iFocus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C64A9E71CA90D4D007A4500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C64AA001CA90D4D007A4500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C64AA0B1CA90D4D007A4500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
